-
  // Цветовые константы
  var $_c__bgColor = '#f9f9f9'

  // Красные цвета
  var $_c__red_1 = "#400616";
  var $_c__red_2 = "#940f32";
  var $_c__red_3 = "#ec174f";
  var $_c__red_4 = "#ff829b";
  var $_c__red_5 = "#ffb8c6";
  var $_c__red_6 = "#ffdbe4";
  var $_c__red_7 = "#fff2f5";

  // Синие цвета
  var $_c__blue_1 = "#001926";
  var $_c__blue_2 = "#003c5c";
  var $_c__blue_3 = "#006aa3";
  var $_c__blue_4 = "#00a5ff";
  var $_c__blue_5 = "#87d5ff";
  var $_c__blue_6 = "#c2eaff";
  var $_c__blue_7 = "#ebf8ff";

  // Фиолетовые цвета
  var $_c__violet_1 = "#151229";
  var $_c__violet_2 = "#282350";
  var $_c__violet_3 = "#5b5399";
  var $_c__violet_4 = "#9086db";
  var $_c__violet_5 = "#c7c2f2";
  var $_c__violet_6 = "#e4e0ff";
  var $_c__violet_7 = "#f6f5ff";
  var $_c__violet_8 = "#bebdca";

  // Специальные цвета
  var $_c__white = "#ffffff"; // белый
  var $_c__black = "#000000"; // чёрный
  var $_c__purple = "#a05adc"; // сиреневый
  var $_c__purple_dark = "#1d193f"; // тёмно-сиреневый
  var $_c__orange = "#f5a21d"; // оранжевый
  var $_c__green = "#7aab30"; // зелёный
  var $_c__scarlet = "#fa5332"; // алый

  // Серые цвета
  var $_c__gray = '#c7c7cc';
  var $_c__gray_1 = "#333438";
  var $_c__gray_2 = "#5a5b61";
  var $_c__gray_3 = "#92949c";
  var $_c__gray_4 = "#c9cad1";
  var $_c__gray_5 = "#e6e7ed";
  var $_c__gray_6 = "#f7f8fa";

  var $_c__text_primary = '#474747'; // тёмный (основной) цвет для текста
  var $_c__text_secondary = $_c__gray_3; // светлый (второстепенный) цвет для текста
  var $_c__text_welcome = '#91949c';
  var $_c__border_color = '#e7e9ea';

  // Цвета для социальных сетей
  var $_c__facebook = "#415e9e";
  var $_c__vkontakte = "#52749a";