include _colors
//- Готовые пресеты для button
-
  var button__style_red = {
    "borderRadius": 4,
    "bgColor": $_c__green,
    "textColor": $_c__white
  }

  var button__style_black = {
    "bgColor": $_c__black,
    "textColor": $_c__white
  }

  var button__style_green = {
    "borderRadius": 4,
    "bgColor": '#57ad57',
    "textColor": $_c__white
  }

  var button__style_violet = {
    "borderRadius": 4,
    "bgColor": $_c__violet_1,
    "textColor": $_c__white
  }

  var button__style_orange = {
    "borderRadius": 4,
    "bgColor": $_c__orange,
    "textColor": $_c__white
  }

  var button__style_white = {
    "borderRadius": 4,
    "bgColor": $_c__white,
    "textColor": $_c__red_3
  }

  var button__style_outline_violet = {
    "borderRadius": 4,
    "borderColor": $_c__gray,
    "bgColor": 'transparent',
    "textColor": $_c__violet_1
  }

  var button__style_outline_white = {
    "borderRadius": 4,
    "borderColor": $_c__gray,
    "bgColor": 'transparent',
    "textColor": $_c__white
  }

  var button__text_size_default = {
    "fontSize": "16px",
    "height": 40
  }

  var button__text_size_medium = {
    "fontSize": "20px",
    "height": 50
  }
