-
    var $_t__font = {
        "font-family" : "Tahoma, Arial, Helvetica, FreeSans, sans-serif"
    }

    var $_t__h0 = {
        "font-size": "36px",
        "line-height": "43px",
        "font-weight": "bold"
    }

    var $_t__h1 = {
        "font-size": "28px",
        "line-height": "34px",
        "font-weight": "bold"
    }

    var $_t__h2 = {
        "font-size": "24px",
        "line-height": "28px",
        "font-weight": "bold"
    }

    var $_t__h3 = {
        "font-size": "20px",
        "line-height": "24px",
        "font-weight": "bold"
    }

    var $_t__h4 = {
        "font-size": "16px",
        "line-height": "20px",
        "font-weight": "bold"
    }

    var $_t__primary_text = {
        "font-size": "16px",
        "line-height": "20px",
        "font-weight": "normal"
    }

    var $_t__secondary_text = {
        "font-size": "14px",
        "line-height": "18px",
        "font-weight": "normal"
    }

    var $_t__small = {
        "font-size": "12px",
        "line-height": "16px",
        "font-weight": "normal"
    }

    var $_t__welcome_text = {
        "font-size": "12px",
        "line-height": "18px",
        "font-weight": "normal",
        "letter-spacing": "1px"
    }

    var $_t__footer_text = {
        "font-size": "12px",
        "line-height": "20px",
        "font-weight": "normal"
    }

    var $_t__footer_small = {
        "font-size": "10px",
        "line-height": "14px",
        "font-weight": "normal"
    }

    //* новые шрифтовые константы
    var $_t__64_77_bold_normal = {
        "font-size": "64px",
        "line-height": "77px",
        "font-weight": "bold",
        "font-style": "normal"
    }

    var $_t__40_48_bold_normal = {
        "font-size": "40px",
        "line-height": "48px",
        "font-weight": "bold",
        "font-style": "normal"
    }

    var $_t__32_36_bold_normal = {
    "font-size": "32px",
    "line-height": "36px",
    "font-weight": "bold",
    "font-style": "normal"
    }

    var $_t__20_24_regular_bold = {
        "font-size": "20px",
        "line-height": "24px",
        "font-weight": "bold",
        "font-style": "normal"
    }

    var $_t__20_24_regular_normal = {
        "font-size": "20px",
        "line-height": "24px",
        "font-weight": "normal",
        "font-style": "normal"
    }

    var $_t__16_20_bold_normal = {
        "font-size": "16px",
        "line-height": "20px",
        "font-weight": "bold",
        "font-style": "normal"
    }

    var $_t__16_20_regular_normal = {
        "font-size": "16px",
        "line-height": "20px",
        "font-weight": "normal",
        "font-style": "normal"
    }

    var $_t__14_18_regular_normal = {
        "font-size": "14px",
        "line-height": "18px",
        "font-weight": "normal",
        "font-style": "normal"
    }

    var $_t__12_18_regular_normal = {
        "font-size": "12px",
        "line-height": "18px",
        "font-weight": "normal",
        "font-style": "normal"
    }
